
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/w3.css">
    <title>Dergi Abone Takip Proje</title>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Fontawesome -->
    <link href="~/css/fa.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c6b0b8c1b5.js" crossorigin="anonymous"></script>
    <!-- Datatable css ve js-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <!-- Sweeralert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block my-div" >
        @*<h6 class="w3-bar-item">Dergi Abone Takip Proje</h6>*@
        <a href="/Home/Index/" class="w3-bar-item w3-button w3-hover-teal my-button" style="text-decoration: none;">
        <i class="fas fa-home maric my-icon" ></i>
        <label class="my-label">Anasayfa</label>
        </a>
        <a href="/Uye/Liste/" class="w3-bar-item w3-button w3-hover-teal my-button" style="text-decoration: none;">
        <i class="fas fa-user-friends maric my-icon"></i>
        <label class="my-label">Üyeler</label>
        </a>
        <a href="/Abonelik/Liste/" class="w3-bar-item w3-button w3-hover-teal my-button" style="text-decoration: none;">
        <i class="fas fa-list maric my-icon" ></i>
        <label class="my-label">Abonelikler</label>
        </a>
        <a href="/Dergi/Liste/" class="w3-bar-item w3-button w3-hover-teal my-button" style="text-decoration: none; ">
        <i class="fas fa-book-open maric my-icon" ></i>
        <label class="my-label">Dergiler</label>
        </a>
        <a href="/Kategori/Liste/" class="w3-bar-item w3-button w3-hover-teal my-button" style="text-decoration: none;">
        <i class="fas fa-th-list maric my-icon" ></i>
        <label class="my-label">Kategoriler</label>
        </a>
        <partial name="_LoginPartial.cshtml" />
    </div>

    <!-- Page Content -->

    <div class="render-div">
        <header class="card-header">
            <h2>@ViewData["Title"]</h2>
        </header>        
        <div class="geneldiv">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
