
@{
    ViewData["Title"] = "Hesabını Yönet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 
    <div class="col-md-2" >
        <div >
            <ul class="nav nav-pills flex-column" style="margin-left:0px">
                <li class="nav-item"><a href="/Login/KullaniciAdDegis" class="w3-btn form-control w3-hover-teal" style="text-decoration:none; width:300px;">Kullanıcı Adı Değiştir</a></li>
                <li></li>
                <li class="nav-item"><a href="/Login/SifreDegis" class="w3-btn form-control w3-hover-teal" style="text-decoration:none; width:300px">Şifre Değiştir</a></li>
            </ul>
        </div>
        <br />
        <div style="width:300px">
            @RenderBody()
        </div>
    </div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}