@model DergiAboneProje.Models.Kategoriler

@{
    ViewData["Title"] = "Kategori Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="my-header">Kategori Düzenle</h2>
<br />
@using (Html.BeginForm("Duzenle", "Kategori", FormMethod.Post))
{
    <div class="eklediv">
        <h4>Kategori ID: @Model.KategoriID</h4>
        @Html.TextBoxFor(x => x.KategoriID, new { @class = "form-control", @readonly = "readonly", style = "display: none;" })
        <br />
        <h4>Kategori Adı</h4>
        @Html.TextBoxFor(x => x.KategoriAD, new { @class = "form-control" })
        <br />
        <button class="btn btn-info" onclick="BlankCheck();" type="submit">Düzenlemeyi Kaydet</button>
        </div>
        }



<script>
    var BlankCheck = function () {
        var KategoriAD = $('#KategoriAD').val();

        if (KategoriAD == "" || KategoriAD == undefined) {
            swal("Uyarı","Kategori Adı boş bırakılamaz!","error")
            return false;
        }
    }

</script>