@model DergiAboneProje.Models.Kategoriler

@{
    ViewData["Title"] = "Kategori Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Duzenle", "Kategori", FormMethod.Post))
{
<div class="eklediv">
    <h4>Kategori ID: @Model.KategoriID</h4>
    <input asp-for="KategoriID" class="form-control" type="text" maxlength="30" readonly="readonly" style="display:none"/>
    <br />
    <h4>Kategori Adı</h4>
    <input asp-for="KategoriAD" class="form-control" type="text" maxlength="30" />
    <br />
    <button class="btn btn-info" onclick="BlankCheck();" type="submit">Düzenlemeyi Kaydet</button>
</div>
        }



<script>
    var BlankCheck = function () {
        var KategoriAD = $('#KategoriAD').val();

        if (KategoriAD == "" || KategoriAD == undefined) {
            swal("Uyarı","Kategori Adı boş bırakılamaz!","error")
            return false;
        }
    }
    $(document).ready(function () {
        $("#KategoriAD").keydown(function (event) {
            var inputValue = event.which;
            // sadece karakter yazdırır ve boşluk
            if (!(inputValue >= 65 && inputValue <= 92) && (inputValue != 8 && inputValue != 32 && inputValue != 191 && inputValue != 220 && inputValue != 222 && inputValue != 186 && inputValue != 221 && inputValue != 219)) {
                event.preventDefault();

            }
        });
    });
</script>