@model DergiAboneProje.Models.Kategoriler
@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="eklediv">


    <form class="form-group" method="post">
        <h2 class="my-header">Kategori Ekle</h2>
        <br />        
        <h4>Kategori Adı</h4>
        <div class="txtbox">
            @Html.TextBoxFor(x => x.KategoriAD, new { @class = "form-control", type="text"})
        </div>

        <br />

        <button class="btn btn-info" onclick="BlankCheck();" type="submit">Kategori Ekle</button>

    </form>
</div>

<script>
    var BlankCheck = function () {
        var KategoriAD = $('#KategoriAD').val();

        if (KategoriAD == "" || KategoriAD == undefined) {
            swal("Uyarı","Kategori Adı boş bırakılamaz!","error")
            return false;
        }
    }

</script>