@model DergiAboneProje.Models.Kategoriler

@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KategoriAD" class="control-label"></label>
                <input asp-for="KategoriAD" class="form-control" maxlength="30" />
                @*<span asp-validation-for="KategoriAD" class="text-danger"></span>*@
            </div>
            
            <button class="form-group btn btn-success" type="submit">Kategori Ekle</button>
        </form> 
    </div>
</div>
<br />
<div>
    <a asp-action="Liste">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
