@model DergiAboneProje.Models.Kategoriler
@{
    ViewData["Title"] = "Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="eklediv">


    <form class="form-group" method="post">
        <h4>Kategori Adı</h4>
        <input asp-for="KategoriAD" class="form-control" type="text" maxlength="30"/>


        <br />

        <button class="btn btn-success" onclick="BlankCheck();" type="submit">Kategori Ekle</button>

    </form>
</div>

<script>
    var BlankCheck = function () {
        var KategoriAD = $('#KategoriAD').val();

        if (KategoriAD == "" || KategoriAD == undefined) {
            swal("Uyarı","Kategori Adı boş bırakılamaz!","error")
            return false;
        }
    }
    $(document).ready(function () {
        $("#KategoriAD").keydown(function (event) {
            var inputValue = event.which;
            // sadece karakter yazdırır ve boşluk
            if (!(inputValue >= 65 && inputValue <= 92) && (inputValue != 8 && inputValue != 32 && inputValue != 191 && inputValue != 220 && inputValue != 222 && inputValue != 186 && inputValue != 221 && inputValue != 219)) {
                event.preventDefault();

            }
        });
    });
</script>