@using DergiAboneProje.Models
@model List<Kategoriler>
@using DergiAboneProje.Controllers

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>


    <div>
        <table id="KategoriTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategori Adı</th>
                    <th>Dergi Sayısı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    <th>Detaylar</th>
                </tr>
            </thead>

            @foreach (var x in Model)
            {

                <tr>
                    <td>@x.KategoriID</td>
                    <td>@x.KategoriAD</td>
                    <td>@x.Dergilers.Where(x => x.KategoriID == x.KategoriID).Count()</td>
                    <td><a href="/Kategori/Duzenle/@x.KategoriID" class="btn btn-success">Düzenle</a></td>
                    <td><a href="#" onclick="Confirm(@x.KategoriID)" class="btn btn-danger ksilbtn">Sil</a></td>
                    <td><a href="/Kategori/Detay/@x.KategoriID" class="btn btn-warning">Detaylar</a></td>
                </tr>
            }
            @*href="/Kategori/Sil/@x.KategoriID"*@
        </table>
    </div>

    <a href="/Kategori/Ekle/" class="btn btn-success">Yeni Kategori Ekle</a>

    <script>
       
        function Confirm(id) {
            swal({
                title: "Silmek istediğinize emin misiniz ?",
                text: "(ID: " + id + ")",
                icon: "warning",
                buttons: {
                    cancel: "Hayır",
                    true: "Evet",
                },
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.get('/Kategori/CheckDergi', { 'id': id }, function (response) {
                            if (response.result) {
                                swal("Uyarı", "Bu kategoriyi, kategoride dergi kaydı varken silemessiniz.", "error");
                            }
                            else {
                                window.location.href = "/Kategori/Sil/" + id;
                                swal({
                                    title: "Kategori silme işlemi başarılı!",
                                    icon: "success",
                                    buttons: "Tamam",
                                }).then(value => {
                                    window.location.href = "/Kategori/Liste/";
                                });
                            }
                        })
                    }

                });
        }

        $(document).ready(function () {
            $('#KategoriTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });

    </script>
</div>


