@using DergiAboneProje.Models
@model List<Kategoriler>
@{
    ViewData["Title"] = "Kategori Liste";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
   
    <h2 class="my-header">Kategoriler</h2>
    <br />
    <script>
        $(document).ready(function () {
            $('#KategoriTable').DataTable();
        });
    </script>

    <div>
        <table id="KategoriTable" class="row-border stripe hover table-bordered">
            <thead>
                <tr>
                    <th>Kategori ID</th>
                    <th>Kategori Adı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
           
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.KategoriID</td>
                        <td>@x.KategoriAD</td>
                        <td><a href="/Kategori/Duzenle/@x.KategoriID" class="btn btn-success">Düzenle</a></td>                        
                        <td><a href="/Kategori/Sil/@x.KategoriID" class="btn btn-danger">Sil</a></td>                        
                        <td><a href="/Kategori/Detay/@x.KategoriID" class="btn btn-warning">Detaylar</a></td>                        
                    </tr>
                }
            
        </table>
    </div>
   

   <br />
    <a href="/Kategori/Ekle/" class="btn btn-success">Yeni Kategori Ekle</a>

</div>


