@model DAboneTakip.Models.Admin

@{
    ViewData["Title"] = "Admin Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <h3>ID: @ViewBag._CurrentUserID</h3>
        <br />
        <form asp-action="Duzenle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Rol" />
            <div class="form-group">
                <label asp-for="KullaniciAD" class="control-label"></label>
                <input asp-for="KullaniciAD" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <div style="display: flex; justify-content: space-between;">
                    <input asp-for="Sifre" value="@Model.Sifre" class="form-control" />&nbsp;<input type="checkbox" class="w3-check" onclick="myFunction()">
                </div>
            </div>
            <button class="btn btn-info" type="submit">Düzenlemeyi Kaydet</button>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //şifre göster gizle
        function myFunction() {
            var x = document.getElementById("Sifre");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

}