
@{
    ViewData["Title"] = "ErisimEngel";

}

<div style="width:100%; background-color:#ff3838; height: 80px">
    <div style="margin-top: 10px;margin-left:10px">
        <h2>Bu sayfaya erişim yetkiniz yok. Yetkili birinden erişim isteyiniz.</h2>
        <a href="#" onclick="history.back()" style="color:white; cursor: pointer;"><b>Geri Git</b></a>
        &nbsp;
        <a href="/Login/CikisYap" style="color:white"><b>Çıkış Yap</b></a>
    </div>
</div>