@model DAboneTakip.Models.Admin
@{
    ViewData["Title"] = "Giris Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />
<div class="container logindiv" style="padding-bottom:25px">
    <br />
    <h2>@ViewData["Title"]</h2>
    <div class="eklediv">
        <section>
            <form asp-action="GirisYap" method="post" class="form-group">

                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="KullaniciAD" class="form-control" placeholder="Kullanıcı Adı" autofocus="" />
                </div>
                <div class="form-group">
                    <input asp-for="Sifre" class="form-control" placeholder="Şifre" type="password" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary border-0 btn-outline-info" style="width:100%; background-color:rgb(0, 150, 136)">Giriş Yap </button>
                </div>
            </form>
        </section>
            <p>NOT: Bu websitesinin düzgün çalışabilmesi için javascript kullanılması gereklidir. Eğer bu tarayıcınız tarafından engellenirse site düzgün çalışmayabilir.</p>     
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}