<partial name="_ChartScriptsPartial" />
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">    
    <div id="KategoriChart"></div> 
    <div id="DergiChart" ></div>    
    <div id="AbonelikChart"></div>
    <div id="UyelerChart"></div>
</div>

<script>
            $(document).ready(function () {
                $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VKategoriChart", "Home")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });

                $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VDergiChart", "Home")',
                success: function (result2) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart2(result2);
                    });
                }
            });

                $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VDergiChart", "Home")',
                success: function (result2) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart2(result2);
                    });
                }
            });
        });

    function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Kategori');
            data.addColumn('number', 'Dergi Sayısı');
            var dataArray = [];

            $.each(result, function (i, obj) {
                dataArray.push([obj.kategori, obj.dergisayi]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Kategori - Dergi Sayısı Grafiği",
                width: 600,
                height: 400,
                bar: { groupWidth: "20%" },
            };

        var columnChart = new google.visualization.PieChart(document.getElementById('KategoriChart'));

            columnChart.draw(data, columnChartOptions);
    }



    function drawChart2(result2) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Dergi');
        data.addColumn('number', 'Abone Sayısı');
        var dataArray2 = [];

        $.each(result2, function (i, obj) {
            dataArray2.push([obj.dergi, obj.abonesayi]);
        });
        data.addRows(dataArray2);

        var columnChartOptions = {
            title: "Dergi - Aktif Abone Sayısı Grafiği",
            width: 600,
            height: 400,
            bar: { groupWidth: "20%" },
        };

        var columnChart = new google.visualization.PieChart(document.getElementById('DergiChart'));

        columnChart.draw(data, columnChartOptions);
    }
</script>