@model DergiAboneProje.Models.Dergiler
@{
    ViewData["Title"] = "Dergi Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="eklediv">

    <form class="form-group" method="post">

        <h4>Dergi Ad</h4>
        <div class="txtbox">
            @Html.TextBoxFor(x => x.DergiAD, new { @class = "form-control" })
        </div>
        <br />
        <h4>Kategori Adı</h4>
        @*@Html.DropDownListFor(x => x.Kategoriler.KategoriID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control"})*@
        <div>
            <select class="form-control chosen-select" asp-for="KategoriID" >
                <option selected disabled style="display:none">Kategori Seçiniz...</option>
                @foreach (var item in (List<SelectListItem>)ViewBag.dgr)
                {
                    <option value="@item.Value">@( "("+ item.Value + ")" + item.Text)</option>
                }
            </select>
        </div>
        <br />
        <button class="btn btn-success" onclick="BlankCheck();" type="submit">Dergi Ekle</button>

    </form>
</div>


<script>
    $("#KategoriID").chosen({
        no_results_text: "Eşleşme bulunamadı!"
    });

    var BlankCheck = function () {
        var DergiAD = $('#DergiAD').val();
        var ktgID = $('#KategoriID').val();

        if (DergiAD == "" || DergiAD == null || ktgID == null) {
            swal("Uyarı", "Lütfen tüm boşlukları doldurunuz.", "error")
            return false;
        }
       
    }

</script>