@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/login.css" rel="stylesheet" />


<div class="container logindiv">
    <br />
    <h2>@ViewData["Title"]</h2>
    <div class="eklediv">
        <section>
            <form id="account" method="post" class="form-group">

                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Input.Email"></label>*@
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" autofocus="" />
                    @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Password">Şifre</label>*@
                    <input asp-for="Input.Password" class="form-control" placeholder="Şifre" />
                   @* <span asp-validation-for="Input.Password" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary border-0 btn-outline-info" style="width:100%; background-color:rgb(0, 150, 136)">Giriş Yap </button>
                </div>
                @*<div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>*@
            </form>
        </section>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
