@model DergiAboneProje.Models.Uyeler
@{
    ViewData["Title"] = "Üye Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.tr-tr.js" type="text/javascript"></script>
<div class="eklediv">


    <form class="form-group" method="post">
        <h2 class="my-header">Üye Ekle</h2>
        <br />
        <div class="txtbox">
            <h4>Üye Adı</h4>
            @Html.TextBoxFor(x => x.UyeAD, new { @class = "form-control", @id = "TxtUyeAd", @maxlength = "50" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Email</h4>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Tel No</h4>
            @Html.TextBoxFor(x => x.TelNo, new { @class = "form-control", @id = "TxtTelNo", @maxlength = "10" })
        </div>
        <br />
        <h4>Doğum Tarihi(Gün/Ay/Yıl)</h4>
        <input asp-for="Tarih" type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" maxlength="10" id="datepicker" />
        @*<div class='input-group date' id='datepicker'>

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>*@

        <br />
        <button class="btn btn-info" onclick="BlankCheck();" type="submit">Üye Ekle</button>

    </form>

</div>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>


    //$('#TarihSec').datepicker({
    //    format: 'dd/mm/yyyy',
    //    autoclose: true,
    //    locale: 'tr-tr'
    //});
    var datepicker, config;
    config = {
        locale: 'tr-tr',
        uiLibrary: 'bootstrap4'
    };
    $(document).ready(function () {
        datepicker = $('#datepicker').datepicker(config);
        $('#ddlLanguage').on('change', function () {
            var newLang = $(this).val();
            config.locale = newLang;
            datepicker.destroy();
            datepicker = $('#datepicker').datepicker(config);
        });
    });
    var BlankCheck = function () {
        var UyeAD = $('#UyeAD').val();
        var Email = $('#Email').val();
        var TelNo = $('#TelNo').val();
        var Tarih = $('#Tarih').val();
        var bos = "Şu alanlar boş bırakılamaz;\n";
        if (UyeAD == "" || UyeAD == undefined) {
            bos += "-Üye Adı\n"
        }
        if (Email == "" || Email == undefined) {
            bos += "-Email\n"
        }
        if (TelNo == "" || TelNo == undefined) {
            bos += "-Tel No\n"

        }
        if (Tarih == "" || Tarih == undefined) {
            bos += "-Doğum Tarihi\n"
        }
        else {
            return true;
        }
        swal("Uyarı", bos, "error")
        return false;
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    $(document).ready(function () {
        $("#TxtTelNo").keydown(function (event) {
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue > 47 && inputValue < 58) && !(inputValue >= 96 && inputValue <= 105) && inputValue != 8) {
                event.preventDefault();
            }
        });
    });
    $(document).ready(function () {
        $("#TxtUyeAd").keydown(function (event) {
            var inputValue = event.which;
            // allow letters and whitespaces only.
            if (!(inputValue >= 65 && inputValue <= 92) && (inputValue != 8 && inputValue != 32 && inputValue != 191 && inputValue != 220 && inputValue != 222 && inputValue != 186 && inputValue != 221 && inputValue != 219)) {
                event.preventDefault();

            }
        });
    });
</script>


