@model DergiAboneProje.Models.Uyeler
@{
    ViewData["Title"] = "Üye Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<div class="eklediv">


    <form class="form-group" method="post">

        <div class="txtbox">
            <h4>Üye Adı</h4>
            @Html.TextBoxFor(x => x.UyeAD, new { @class = "form-control", @id = "TxtUyeAd", @maxlength = "50" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Email</h4>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "TxtEmail" })
        </div>
        <br />
        <div class="txtbox">
            <h4>Tel No</h4>
            @Html.TextBoxFor(x => x.TelNo, new { @class = "form-control", @id = "TxtTelNo", @maxlength = "10" })
        </div>
        <br />
        <h4>Doğum Tarihi(Ay/Gün/Yıl)</h4>
        <input asp-for="Tarih" type="text" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")" maxlength="10" id="TarihSec" />

        <br />
        <button class="btn btn-success" onclick="BlankCheck();" type="submit">Üye Ekle</button>

    </form>

</div>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
<script type="text/javascript" src="js/moment/tr.js"></script>
<script>


    $('#TarihSec').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        language: "tr",
        weekStart: 1
    });
    var BlankCheck = function () {
        var UyeAD = $('#TxtUyeAd').val();
        var Email = $('#TxtEmail').val();
        var TelNo = $('#TxtTelNo').val();
        //var Tarih = $('#TarihSec').val();
        if (UyeAD == "" || Email == "" || TelNo.length < 9) {
            swal("Uyarı", "Lütfen tüm alanları doğru şekilde doldurunuz.", "error")
            return false;
        }
        //if (Tarih == "" || TelNo == null || Tarih == undefined) {
        //     swal("Uyarı", "Lütfen tüm alanları doğru şekilde doldurunuz.", "error")
        //}
        return true;
        
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    $(document).ready(function () {
        $("#TxtTelNo").keydown(function (event) {
            var inputValue = event.which;
            // sadece sayı ve boşluk
            if (!(inputValue > 47 && inputValue < 58) && !(inputValue >= 96 && inputValue <= 105) && inputValue != 8) {
                event.preventDefault();
            }
        });
    });
    $(document).ready(function () {
        $("#TxtUyeAd").keydown(function (event) {
            var inputValue = event.which;
            // sadece karakter yazdırır ve boşluk
            if (!(inputValue >= 65 && inputValue <= 92) && (inputValue != 8 && inputValue != 32 && inputValue != 191 && inputValue != 220 && inputValue != 222 && inputValue != 186 && inputValue != 221 && inputValue != 219)) {
                event.preventDefault();

            }
        });
    });
</script>


