@model DergiAboneProje.Models.Abonelikler
@{
    ViewData["Title"] = "Abonelik Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h5>Kayıt ID: @ViewBag.KayıtID</h5>
        <h5>Kayıt Tarihi: @ViewBag.KayıtTarihi</h5>
        <br />
        <form asp-action="Duzenle">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="KayıtID" />
            <input type="hidden" asp-for="KayıtTarihi" />
            <div class="form-group">
                <label asp-for="KayıtSuresiAy" class="control-label"></label>
                <input asp-for="KayıtSuresiAy" class="form-control" maxlength="2" type="text"/>
            </div>
            <div class="form-group">
                <label asp-for="UyeID" class="control-label"></label>
                <select asp-for="UyeID" class="form-control" asp-items="ViewBag.UyeID" ></select>
            </div>
            <div class="form-group">    
                <label asp-for="DergiID" class="control-label"></label>
                <select asp-for="DergiID" class="form-control" asp-items="ViewBag.DergiID" ></select>
            </div>
          <button type="submit" class="btn btn-info">Düzenlemeyi Kaydet</button>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Liste">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
         //chosen dropdownlist JS kütüphanesi kullanıldı arama da yapılabildiği için çok kayıt olduğunda kolaylık için
        $("#UyeID").chosen({
            no_results_text: "Eşleşme bulunamadı!"
        });
        $("#DergiID").chosen({
            no_results_text: "Eşleşme bulunamadı!"
        });

    </script>
}