@model DergiAboneProje.Models.Abonelikler
@{
    ViewData["Title"] = "Yeni Abonelik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h5>Kayıt Tarihi : @DateTime.Now.ToShortDateString()</h5>
        @Html.HiddenFor(x=>x.KayıtTarihi)
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KayıtSuresi" class="control-label"></label> 
                <input asp-for="KayıtSuresi" class="form-control InputNumber" maxlength="2" type="text" />
                @* <span asp-validation-for="KayıtSuresi" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="UyeID" class="control-label"></label>
                <select asp-for="UyeID" class="form-control" asp-items="ViewBag.UyeID">
                    <option selected disabled value="-1" style="display:none">Üye Seçiniz... </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DergiID" class="control-label"></label>
                <select asp-for="DergiID" class="form-control" asp-items="ViewBag.DergiID">
                    <option selected disabled value="-1" style="display:none">Dergi Seçiniz... </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Abone Ekle</button>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Liste">Listeye dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#UyeID").chosen({
            no_results_text: "Eşleşme bulunamadı!"
        });
        $("#DergiID").chosen({
            no_results_text: "Eşleşme bulunamadı!"
        });
        
    </script>

}
